.app {
    display: grid;
    place-items: center;
  }
  
    .form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .form-header{
    margin-block: 5%;
    display: flex;
    justify-content: center;

  }

  .filter{
    display: flex;
    justify-content: space-evenly;
  
  }

  .product-container{
    background-color: blueviolet;
    border: 5px solid blue;
    display: grid;
    grid-template-areas: "card card card";
  /*   grid-template-columns: 1fr 1fr 1 fr;
    grid-template-rows: 1fr 1fr ; 
    column-gap:30px ;
    justify-items: space-evenly; */
    /* flex-direction: row;
    justify-content: space-evenly; */
    /* align-items: normal;
    box-sizing: border-box; */
  }

  .card-body{
    
    display: grid;
    /* height: 10px; */
   /*  box-sizing: border-box; */
   margin: 10px;
   min-width: 10px;
   min-height: 10px;
  }
