.app {
    display: grid;
    place-items: center;
  }
  
    

  .filter{
    display: flex;
    justify-content: space-evenly;
  
  }

  

  .card-body{
    
    display: grid;
    /* height: 10px; */
   /*  box-sizing: border-box; */
   margin: 10px;
   min-width: 10px;
   min-height: 10px;
  }
