.card {
    min-width: 10px;
    width: 20%;
    border-radius: 8px;
    border: 100px solid black;
    margin: 2%;
}

.card-title {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

.card-img {
    width: 100%;
}

.center-align{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}