.card {
    min-width: 10px;
    width: fit-content;
    border-radius: 8px;
    border: 100px solid red;
    margin: 2%;
}

.card-title {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

 .card-img {
    width: 10%;
} 

.center-align{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}