.card {
    width: 20%;
    border-radius: 8px;
    border: 1px solid mediumseagreen;
    margin: 2%;
}

.card-title {
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

.card-img {
    width: 100%;
}

.center-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}